---
layout: default
---

<div class="home">
    <h1 class="page-heading">{{ page.title }}</h1>

  {{ content }}

    <h2 class="post-list-heading">Blog</h2>
    <ul class="post-list" style="list-style-type: none;padding-left: 0">
      {%- for post in site.posts -%}
      <li>
        <p style="margin-bottom: 5px;">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          • {{ post.date | date: "%b %-d, %Y" }}
          {%- if post.updated -%}
          &nbsp;• updated {{ post.updated | date: "%b %-d, %Y" }}
          {%- endif -%}
          &nbsp;• {{ post.read-time }} min read
          <div style="font-size: 14px;">{{ post.excerpt }}</div>
        </p>
      </li>
      {%- endfor -%}
    </ul>

</div>
